 <div class="form-container w-50 mx-auto">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h2 class="text-center mb-3 text-primary">Sign up</h2>
  <div class = ""> 
    <div class="mb-3">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Full Name', class: 'form-control' %>
  </div>

   <div class="mb-3">
    <%= f.text_field :phone, autofocus: true, autocomplete: "phone", placeholder: '09****', class: 'form-control' %>
  </div>

   <div class="mb-3">
    <%= f.text_field :city, autofocus: true, autocomplete: "city", placeholder: 'City', class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" , class: 'form-control' %>
  </div>

  <div class="mb-3">

    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password'  , class: ' form-control '  %>
  </div>

  <div class="mb-3">

    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm Password'  , class: ' form-control '  %>
  </div>
  </div>
  
    <div class="mb-3 text-center">
    <%= f.submit "Sign up", class: 'btn btn-primary' %>
    </div>


<% end %>

 </div>

